.Product {
    background-color: gray;
}

.Product__name {
    font-weight: 600;
    color: maroon;
}

.Product__qty {
    font-weight: 600;
    color: green;
}

.Product__price {
    font-weight: 600;
    color: magenta;
}

.Product__qty.awaliable {
    font-weight: 600;
    color: green;
}

.Product__qty.not-awaliable {
    font-weight: 600;
    color: red;
}
